{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myRH</title>
    <link rel="stylesheet" href=" {% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery3.7.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.min.css" %}">
    <script type="text/javascript" charset="utf8" src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap-icons-1.10.5/font/bootstrap-icons.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body>

    <nav class="navbar">
        <div class="container">
            <div class="navbar-title">
                <h1>myHR</h1>
            </div>
            <button class="btn btn-icon"><i class="bi bi-person-fill-add"></i></button>
        </div>
    </nav>

    <div class="mx-auto" style="margin-top: 30px;width:1000px;">

        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titreModal"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>

        <div id="cont_table">
            <table id="data-table" class="table table-bordered display compact">
                <thead>
                    <tr>
                        <th></th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Téléphone</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <script src="{%static "js/main.js" %}"></script>
</body>

</html>